img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.intro {
  font-size: 80%;
  text-align: center;
  color: cyan;
}
.important {
  font-style: italic;
  font-weight: bold;
  color: red;
}
